//colors
$color-black: #292B2D;
$color-light: #FFFFFF;
$color-gray: #707070;
$color-gray-alt: #EFF0F6;
$color-blue: #4558C8;
$color-blue-alt: #D9DEFF;
$color-yellow: #FFB038;
$color-red: #F24A4D;

//borders
$border-radius-small: 10px;
$border-radius-medium: 30px;

//inputs
$input-height: 50px;
$button-height: 48px;

//opacity
$color-opacity-light-black: rgba($color-blue, 0.25);

//fonts
$font-family-base: 'Montserrat', sans-serif;

//containers
$container-width: 980px;
$container-padding-x: 90px;
$container-padding-x-tablet: 45px;
$container-padding-x-mobile: 15px;