<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="./services.html">
                <img class="logo__img" src="assets/img/small-logo.png" alt="Логотип Sportmind">
            </a>
            <button class="button burger"></button>
            <dialog class="dialog">
                <form method="dialog">
                    <button>x</button>
                    <ul class="dialog__list">
                        <li class="dialog__list-item"><a class="dialog__list-link" href="./services.html">Услуги</a>
                        </li>
                        <li class="dialog__list-item"><a class="dialog__list-link" href="#">Курсы</a></li>
                    </ul>
                </form>
            </dialog>
        </div>
    </div>
</header>