<div id="modal" class="modal">
    <div class="modal__inner">
        <span class="modal__close"></span>
        <div class="modal__content">
            <a class="link__cover" href="#">реквизиты</a>
            <ul class="footer__list">
                <li class="footer__list-item">
                    ИНН: 772972522366
                </li>
                <li class="footer__list-item">
                    Получать: Индивидуальный предприниматель Попов Алексей Николаевич
                </li>
                <li class="footer__list-item">
                    Расчётный счёт: 40802810620000287131
                </li>
                <li class="footer__list-item">
                    Название банка: ООО "Банк Точка"
                </li>
                <li class="footer__list-item">
                    БИК: 044525104
                </li>
                <li class="footer__list-item">
                    Корр. счёт: 30101810745374525104
                </li>
            </ul>
        </div>
    </div>
</div>