<div class="section section__psychologist">
    <div class="container">
        <h2 class="psychologist-info__heading">Ведущий психолог тестирования</h2>
        <div class="psychologist-info">
            <div class="psychologist-info__inner">
                <img class="psychologist-info__photo" src="assets/img/psychologist-img.png"
                     alt="Кондратович Светлана Викторовна" width="300" height="302" loading="lazy">
                <div class="psychologist-info__wrapper">
                    <h3 class="psychologist-info__name">Кондратович Светлана Викторовна</h3>
                    <p class="psychologist-info__description">
                        Психолог, Спортивный психолог. Старший преподаватель кафедры
                        Сервиса и оздоровительных технологий УрФУ им. первого Президента России Б.Н. Ельцина. Член
                        научной
                        группы «Спортивные технологии». Член ассоциации спортивных психологов. Практикующий
                        психолог-консультант
                        в сфере «Психология спорта».</p>
                    <h3 class="psychologist-info__subtitle">Разработчик и ведущий курсов в области образования:</h3>
                    <p class="psychologist-info__description">
                        «Тайм-менеджмент», «Методы принятия управленческих решений»,
                        «Психодиагностика и психорегуляция в спорте», «Психология взаимоотношений и управления в
                        спорте»,
                        «Психология управления человеческим капиталом», «Конфликтология», «Современные проблемы
                        психологии
                        спорта».</p>
                </div>
            </div>
            <a class="link link__payment" href="./payment.html">Перейти к оплате</a>
        </div>
    </div>
</div>