<section class="section quiz">
    <div class="container">
        <div class="quiz__wrapper">
            <div class="quiz__inner">
                <div>
                    Вопрос <span class="quiz__inner-question quiz__inner-question__start">1</span> из <span
                        class="quiz__inner-question quiz__inner-question__end"></span>
                </div>
                <div>
                    <label for="question__length"></label>
                    <input id="question__length" type="range" min="1" step="1" value="1" max="" tabindex="-1">
                </div>
            </div>
            <div class="quiz__inner-box">
                <span class="quiz__question"></span>
                <div>
                    <input class="quiz__input" type="radio" name="quiz__question" id="question-one" tabindex="1">
                    <label for="question-one">Подходит</label>
                </div>
                <div>
                    <input class="quiz__input" type="radio" name="quiz__question" id="question-two" tabindex="2">
                    <label for="question-two">Не совсем</label>
                </div>
                <div>
                    <input class="quiz__input" type="radio" name="quiz__question" id="question-three" tabindex="3">
                    <label for="question-three">Не подходит</label>
                </div>
                <button type="button" class="button button__submit">Отправить</button>
            </div>
        </div>
    </div>
</section>