<div class="section section__quiz-info">
    <div class="container">
        <div class="section__quiz-info-wrapper">
            <div class="quiz-info">
                <img class="quiz-info__img" src="assets/img/test-img.png" alt="Тест на самооценку личности"
                     width="577" height="276" loading="lazy">
                <h2 class="quiz-info__title">Тест на самооценку личности</h2>
                <p>Время на прохождение: <span class="quiz-info__passage-time">10</span> минут</p>
                <p class="quiz-info__description">
                    Характеристики, которые исследуются в опроснике:
                </p>
                <p><strong>личностная тревожность</strong> - склонность к переживанию тревоги;</p>
                <p><strong>фрустрация</strong> - состояние, возникающее вследствие реальной или воображаемой помехи,
                    препятствующее
                    достижению цели;</p>
                <p><strong>агрессия</strong> – повышенная психологическая активность, стремление к лидерству путем
                    применения силы по
                    отношению к другим людям;</p>
                <p><strong>ригидность</strong> – затрудненность в изменении намеченной деятельности в сложных
                    ситуативных условиях.</p>
            </div>
            <div class="payment-stages">
                <h2 class="payment-stages__heading">Этапы :</h2>
                <ul class="payment-stages__list">
                    <li class="payment-stages__item">Первичный тест, сбор данных</li>
                    <li class="payment-stages__item">Консультация спортивного психолога</li>
                </ul>
                <span>Стоимость: <span class="payment-stages__price">1 500 рублей</span></span>
            </div>
        </div>
    </div>
</div>
