<section class="section">
    <div class="container">
        <div class="section__services">
            <div class="section__services-wrapper">
                <h2 class="heading heading__main">Услуги</h2>
                <div class="section__inner">
                    <article class="tests__card-wrapper">
                        <img src="assets/img/test-img.png" alt="Тестирование на тренажерах" width="404"
                             height="210"
                             loading="lazy">
                        <div class="tests__card">
                            <h3 class="tests__heading">Первичная консультация спортивного психолога для детей</h3>
                            <a class="link link__test" href="./quiz-info.html">Перейти</a>
                        </div>
                    </article>
                    <div class="tests">
                        <article class="tests__card">
                            <h3 class="tests__heading">Консультация спортивного психолога</h3>
                            <a id="consultation" class="link link__retest" href="./payment.html">Перейти</a>
                        </article>
                        <article class="tests__card">
                            <h3 class="tests__heading">Спортивное тестирование на тренажерах</h3>
                            <a class="link link__test" href="./sports-testing.html">Перейти</a>
                        </article>
                    </div>
                </div>
            </div>
            <section class="section section__courses">
                <h2 class="heading heading__courses">Обучающие курсы</h2>
                <div class="section__inner section__inner-courses">
                    <div class="section__inner-card">
                        <span class="link link__cover">семинар</span>
                        <p>Инновационные подходы в управлении тренировочным процессом в детско-юношеским футзале</p>
                    </div>
                    <div class="section__inner-card">
                        <span class="link link__cover">курс</span>
                        <p>Искусство спортивных технологий</p>
                    </div>
                    <div class="section__inner-card">
                        <span class="link link__cover">курс</span>
                        <p>Искусство спортивных технологий</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>