<section class="section">
    <div class="container">
        <h2 class="heading heading__main">Услуги</h2>
        <div class="section__inner">
            <div class="tests">
                <article class="tests__card">
                    <h3 class="tests__heading">Первичная консультация спортивного психолога для детей</h3>
                    <a class="link link__test" href="./quiz-info.html">Перейти</a>
                </article>
                <article class="tests__card">
                    <h3 class="tests__heading">Консультация спортивного психолога</h3>
                    <a class="link link__retest" href="./quiz-info.html">Перейти</a>
                </article>
            </div>
            <article class="tests__card-wrapper">
                <img src="assets/img/training-img.jpeg" alt="Тестирование на тренажерах" width="404" height="217"
                     loading="lazy">
                <div class="tests__card">
                    <h3 class="tests__heading">Тестирование на тренажерах</h3>
                    <a class="link link__cover link__disabled" href="#">Скоро</a>
                </div>
            </article>
        </div>
        <section class="section section__courses">
            <h2 class="heading">Обучающие курсы</h2>
            <div class="section__inner">
                <div class="section__inner-card">
                    <span class="link link__cover">семинар</span>
                    <p>Инновационные подходы в управлении тренировочным процессом в детско-юношеским футзале</p>
                </div>
                <div class="section__inner-card">
                    <span class="link link__cover">курс</span>
                    <p>Искусство спортивных технологий</p>
                </div>
                <div class="section__inner-card">
                    <span class="link link__cover">курс</span>
                    <p>Искусство спортивных технологий</p>
                </div>
            </div>
        </section>
    </div>
</section>