<section class="section section-laboratory">
    <div class="container">
        <div class="section-laboratory__wrapper">
            <div class="section-laboratory__wrapper-inner">
                <h2 class="heading heading__main">Спортивная лаборатория</h2>
                <div class="section-laboratory__wrapper-content">
                    <span class="info__subtitle">Тестирование координационных способностей и&nbsp; силы с&nbsp; игровой деятельности</span>
                    <span class="primary-color">с использованием уникального оборудования</span>
                </div>
            </div>
            <div class="section-laboratory__wrapper-video">
                <video class="video" autoplay muted loop width="100%"
                       height="100%">
                    <source src="./assets/video/video.mp4">
                </video>
            </div>
        </div>
        <div class="section-laboratory__wrapper section-laboratory__wrapper-cover ">
            <div class="section-laboratory__wrapper-inner cover">
                <h3 class="heading heading__laboratory">Режим работы лаборатории</h3>
                <div class="section-laboratory__wrapper-inner__box">
                    <span>Группа 6 человек</span>
                    <span>Время проведения : <span>30</span> минут</span>
                </div>
            </div>
            <div class="section-laboratory__wrapper-inner">
                <span class="time-box">пн-чт <span class="time-info">09:00 - 19:00</span></span>
                <span class="time-box">пт <span class="time-info">11:00 - 19:00</span></span>
            </div>
        </div>
        <div class="section-laboratory__wrapper">
            <div class="tests">
                <div class="payment-stages">
                    <h2 class="payment-stages__heading">Этапы :</h2>
                    <ul class="payment-stages__list">
                        <li class="payment-stages__item">Спортивное тестирование на тренажерах</li>
                        <li class="payment-stages__item">Консультационные услуги по интерпретации результатов
                            тестирования
                        </li>
                    </ul>
                </div>
                <article class="tests__card">
                    <h3 class="tests__heading tests__heading-padding-inline">Спортивное тестирование на тренажерах</h3>
                    <span class="tests__card-price">2000 ₽</span>
                    <a class="link link__test" href="#">Оплатить</a>
                </article>
                <article class="tests__card">
                    <h3 class="tests__heading">Консультационные услуги по интерпретации результатов
                        тестирования</h3>
                    <span class="tests__card-price">800 ₽</span>
                    <a class="link link__retest" href="#">Оплатить</a>
                </article>
            </div>
        </div>
        <div class="section-laboratory__wrapper">
            <div class="section-laboratory__wrapper-box">
                <h2 class="section-laboratory__wrapper section-laboratory__wrapper-heading">3 Тренажера</h2>
                <ul class="section-laboratory__wrapper-list">
                    <li class="section-laboratory__wrapper-item">Тренажер "Звездочка"</li>
                    <li class="section-laboratory__wrapper-item section-laboratory__wrapper-item__flex">Тренажер "RVW"
                        (Reaction Velocity Wall)
                        <span>Тренажёр для развития и оценки зрительно-моторной координации в&nbsp;игровых видах спорта</span>
                    </li>
                    <li class="section-laboratory__wrapper-item">Тренажер "Core"</li>
                </ul>
                <span class="primary-color">По результатом тестирования будет предоставлен отчёт</span>
            </div>
            <div class="section-laboratory__wrapper-carousel">
                <img class="section-laboratory__wrapper-carousel__img" src="./assets/img/carousel-img-1.png" alt="">
                <img class="section-laboratory__wrapper-carousel__img" src="./assets/img/carousel-img-2.png" alt="">
                <img class="section-laboratory__wrapper-carousel__img" src="./assets/img/carousel-img-3.png" alt="">
            </div>
        </div>
    </div>
</section>