<div class="container">
    <div class="wrapper">
        <img src="assets/img/logo-black.png" alt="Научно-спортивный кванториум, искусство спортивных технологий">
        <div class="wrapper__images">
            <img src="assets/img/tennis-img.png" alt="">
            <div>
                <img src="assets/img/football-img.png" alt="">
                <img src="assets/img/box-img.png" alt="">
            </div>
        </div>
        <a class="link link__start" href="services.html">Я готов начать!</a>
    </div>
</div>