.payment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 40px;
  max-width: calc($container-width / 2);

  &__input:not(:last-child) {
    margin-bottom: 15px;
  }

  &__input {
    padding: 10px 15px;
    border: none;
    outline: 1px solid $color-black;
    border-radius: $border-radius-small;

    &:focus {
      border: none;
      outline: 1px solid $color-yellow;
    }
  }

  &__price {
    align-self: center;
    color: $color-blue;
    padding-block: 15px;
    font-weight: 600;
  }
}