.heading {
  margin-bottom: 40px;

  &__payment {
    margin-bottom: 10px;
    text-align: center;

    & + p {
      text-align: center;
      color: $color-blue;
    }
  }


  &__main {
    text-transform: uppercase;
    margin-bottom: 48px;
  }

  &__courses {
    margin-bottom: 19px;
  }

  &__laboratory {
    max-width: unset;
    margin-bottom: 30px;
  }
}