.section {
  &__courses {
    & h2 {
      text-transform: uppercase;
    }

    & .section__inner {
      flex-wrap: nowrap;
      overflow-y: auto;
      gap: 10px;
      padding-bottom: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__psychologist {
    margin-bottom: 30px;
  }

  &__quiz-info {
    &-wrapper {
      margin-bottom: 40px;
      display: flex;
      gap: 30px;

      @include tablet {
        flex-flow: column wrap;
      }
    }

    & div h2 + p {
      color: $color-blue;
      margin-bottom: 30px;
    }
  }

  &__inner {
    display: flex;
    gap: 60px;
    margin-bottom: 45px;

    & .section__inner-card:nth-child(3n-2) {
      background-color: $color-yellow;
    }

    & .section__inner-card:nth-child(2n) {
      background-color: $color-red;
    }

    & .section__inner-card:nth-child(3n) {
      background-color: $color-blue;
    }

    &-card {
      display: flex;
      flex-flow: column wrap;
      gap: 15px;
      min-width: 190px;
      max-width: 190px;
      padding: 10px;
      width: 100%;
      color: $color-light;
      border-radius: $border-radius-small;

      @include fluid-text(14, 12);

      font-weight: 600;
    }

    @include desktop {
      flex-flow: row wrap;
    }

  }
}