.wrapper {


  @include desktop-above {
    height: 100vh;
    justify-content: space-evenly;
  }

  @include flex-center(false);

  flex-direction: column;
  gap: 30px;

  padding-block: 40px;

  &__images {
    display: flex;
    justify-content: center;
    gap: 100px;

    & img {
      align-self: flex-end;

      @include tablet {
        align-self: center;
        height: 170px;
      }
    }

    @include mobile {
      flex-direction: row;
      height: auto;
      gap: 50px;
    }

  }

  & div:last-child {
    display: flex;
    gap: 100px;

    @include tablet {
      flex-direction: column;
      gap: 50px;
      & img {
        max-height: 159px;
      }
    }


    & img:nth-child(1) {
      align-self: flex-start;
    }

    & img:nth-child(2) {
      align-self: flex-end;
    }
  }

}